#container{
    display: flex;
    position: relative;
    justify-self: center;
    align-self: center;
    width: 50%;
    height: 80vh;
    border: 2px solid black;
    border-radius: 1px;
}

#player{
    position:absolute;
    background-color:maroon;
    width: 10%;
    height: 11vh;
    transition: transform 0.1s ease-out;
}

.inimigos{
    position:absolute;
    bottom: 0;
    background-color:green;
    width: 10%;
    height: 11vh;
}

#inimigo2{
    right: 0;
}

#tiro{
    display: none;
}