#container{
    display: flex;
    justify-self: center;
    align-self: center;
    width: 50%;
    height: 80vh;
    border: 2px solid black;
    border-radius: 1px;
}

#player{
    position:absolute;
    background-color:maroon;
    width: 5%;
    height: 10vh;
    transition: transform 0.1s ease-out;
}